<div>
  <h2>Dashboard</h2>
  <p>Welcome To Project Management App!!!</p>
  <h3>Recent Projects</h3>
  <ul>
    <li *ngFor="let project of recentProjects">
      <a [routerLink]="'/projects/' + project.id">
        {{ project.name | titleCase }}
      </a>
      - Status: {{ project.status }}
    </li>
  </ul>

  @defer (on viewport) {
  <ng-container *ngTemplateOutlet="flagIsTrue"></ng-container>
  } @placeholder {
  <div>Preparing content...</div>
  } @loading {
  <div>Loading content...</div>
  }
</div>

<ng-template #flagIsTrue>
  <div class="custom-style">Hiiiiiiiiiiiiiiiiiiiiiiiiiii!</div>
</ng-template>
